* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  text-align: center;
  font-size: 1.7rem;
  line-height: 4rem;
}

html {
  font-size: 62.5%;
}

header {
  background: #e44348;
  display: flex;
  color: #fff;
  height: 4rem;
  line-height: 4rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

header a {
  flex: 2;
  color: #fff;
  font-size: 2.2rem;
  text-indent: 1rem;
  font-weight: 100;
}

header i {
  flex: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  flex: 1;
}

header .ipt {
  flex: 5;
}

header .ipt input {
  border: 0;
  outline: 0;
  height: 60%;
  width: 90%;
  border-radius: 2rem;
  text-indent: 40%;
  margin-left: 5%;
}

header .ipt ::-webkit-input-placeholder {
  font-size: 1.4rem;
}

.swiper-container {
  padding-bottom: 3rem;
  border-bottom: 0.4rem solid #f0f2f1;
}

.swiper-container .list ul li {
  display: flex;
}

.swiper-container .list ul li a {
  flex: 1;
}

.swiper-container .list ul li a dd {
  padding: 1rem 1rem 0.5rem;
}

.swiper-container .list ul li a dd img {
  width: 100%;
}

.swiper-container .list ul li a dt {
  font-size: 1.5rem;
  text-align: center;
}

.box,
.box1 {
  overflow: hidden;
}

.box .Iscroll,
.box1 .Iscroll {
  display: flex;
  width: 1000px;
}

.box .Iscroll dl,
.box1 .Iscroll dl {
  flex: 10%;
  text-align: center;
  flex-shrink: 0;
  background: #f8f8f8;
  margin: 0.4rem;
}

.box .Iscroll dl dt:first-child,
.box1 .Iscroll dl dt:first-child {
  font-weight: 700;
}

.box .Iscroll dl dd img,
.box1 .Iscroll dl dd img {
  width: 70%;
}

footer {
  display: flex;
  border-top: 0.02rem solid #ccc;
  background: #fff;
  position: sticky;
  bottom: 0;
}

footer a {
  flex: 1;
}

footer a dl {
  text-align: center;
  color: #878b8a;
}

footer a dl dd {
  font-size: 2.3rem !important;
  padding: 0.5rem;
}

footer a dl dt {
  font-size: 1.5rem !important;
}

footer a:first-child dl {
  color: #ec5d4c;
}
